/* your code */
.leaderBoard-table{
	border-collapse: collapse;
    width: 100%;
    background-color: rgb(222, 252, 252);
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
}
.leaderBoard-table tr,
.leaderBoard-table td{
    padding: 5px;
    border: 1px solid black;
    font-family: cursive;
    border-radius: 5px;
            
}
.leaderBoard-table thead{
    background-color: rgb(131, 234, 234);
}